/* Styles for manager.js controlled elements */
#deviceStats,
#latestDataSection, {
    margin-top: 20px;
}

.latest-data-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.latest-data-header h3 {
    margin: 0;
}